{block #content}

<div class="page-header">
  <h3 n:block="title">{$header|noescape}</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      <a class="btn btn-primary" n:href="mailSettings">{_remp_mailer.frontend.mail_unsubscribe.other_email_settings}</a>
    </p>
  </div>
</div>
