services:
	# api
	mailTemplateListApiHandler:
		factory: Crm\RempMailerModule\Api\MailTemplateListApiHandler
		setup:
			- addAllowedMailTypeCodes('system', 'system_optional')

	# components
	- Crm\RempMailerModule\Components\UserEmailSettings\UserEmailSettingsWidget
	- Crm\RempMailerModule\Components\MailSettings\MailSettings
	- Crm\RempMailerModule\Components\MailSettings\MailSettingsControlFactoryInterface
	- Crm\RempMailerModule\Components\MailLogs\MailLogs
	- Crm\RempMailerModule\Components\MailLogs\MailLogControlFactoryInterface

	# DI
	- Crm\RempMailerModule\DI\Config

	# data providers
	- Crm\RempMailerModule\Models\User\RempMailerUserDataProvider

	# events
	- Crm\RempMailerModule\Events\NotificationHandler
	mailerWelcomeEmailHandler: Crm\RempMailerModule\Events\SendWelcomeEmailHandler
	- Crm\RempMailerModule\Events\UserMailSubscriptionsChangedHandler
	- Crm\RempMailerModule\Events\ChangeUserNewsletterSubscriptionsEventHandler

	# forms
	- Crm\RempMailerModule\Forms\EmailSettingsFormFactory

	# hermes
	- Crm\RempMailerModule\Hermes\EmailChangedHandler
	- Crm\RempMailerModule\Hermes\UserCreatedHandler
	- Crm\RempMailerModule\Hermes\SendEmailHandler
	mailerLogRedact: Crm\RempMailerModule\Hermes\LogRedact
	hermesLogger:
		setup:
			- pushProcessor(@mailerLogRedact::add(['token', 'password']))

	# models
	- Crm\RempMailerModule\Models\Api\Client
	- Crm\RempMailerModule\Models\Api\MailLogQueryBuilder
	- Crm\RempMailerModule\Models\Authenticator\TokenAuthenticator

	# repositories
	mailTypesRepository: Crm\RempMailerModule\Repositories\MailTypesRepository
	mailTemplatesRepository: Crm\RempMailerModule\Repositories\MailTemplatesRepository
	mailUserSubscriptionsRepository: Crm\RempMailerModule\Repositories\MailUserSubscriptionsRepository
	mailTypeCategoriesRepository: Crm\RempMailerModule\Repositories\MailTypeCategoriesRepository
	mailLogsRepository: Crm\RempMailerModule\Repositories\MailLogsRepository

	# scenarios
	sendNotificationEmailGenericEvent:
		factory: Crm\RempMailerModule\Scenarios\SendNotificationEmailToAddressesGenericEvent
		setup:
			- addAllowedMailTypeCodes('system', 'system_optional')

	scenariosGenericEventsManager:
		setup:
			- register('send_notification_email_to_addresses', @sendNotificationEmailGenericEvent)
			- register('change_user_newsletter_subscriptions', Crm\RempMailerModule\Scenarios\ChangeNewsletterSubscriptionsGenericEvent())
