menu:
	main: REMP
	mailer: Mailer
	email_settings: E-mail settings

data:
	mail_logs:
		fields:
			created_at: Sent at
			subject: Subject
			email: E-mail address
			mail_template_id: E-mail
			events: Events
			delivered_at: Delivered
			opened_at: Otvorené
			clicked_at: Clicked
			dropped_at: Dropped
			spam_complained_at: Spam
			hard_bounced_at: Bounced
			conversions: Conversions

frontend:
	mail_settings:
		header: Email settings
		your_email: Your email
		subscribe: Subscribe
		unsubscribe: Unsubscribe
		subscribe_success: You have been successfully subscribed.
		unsubscribe_success: You have been successfully un-subscribed.
		preview: See sample
		page: Editions
		subscribe_all: Subscribe all
		unsubscribe_all: Unsubscribe all
		active: Subscribed
		inactive: Unsubscribed

	mail_subscribe:
		header: Subsribed to newsletter

	mail_unsubscribe:
		header: Unsubscribed from newsletter
		header_alt: Email %email% was unsubscribed from newsletter
		header_no_account: "Email <i>%email%</i> is no longer present in the system<br><small>(it's not possible to unsubscribe it anymore)</small>"
		other_email_settings: Other email settings

admin:
	mail_logs_component:
		header: Sent emails
		no_content: No sent emails
		no_content_message: No messages have been sent yet
		not_loaded: Emails are not loaded for this account type
		not_loaded_message: User is unclaimed or deleted
		total: Total
		success: Success
		errors: Errors

	mail_settings:
		header: Mail settings
		frontend_header: Choose groups you want to recieve
		actualized_message: Settings was actualied
		unsubscribed: Unsubsribed %time%
		subscribed: Subscribed %time%
